@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
body{
    height: 97vh;
}
*{
    margin: 0px;
}
header{
    color: white;
    text-align: center;
    background-color: black;
    padding: 10vw;
}
header h1{
    font-variant: small-caps;
    font-size: 10vw;
    font-family: 'Passion One';
}
header p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
header a{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}
section{
    padding:60px 0px;
    font-family: Sriracha;
    font-size: 3.5vw;
    width: 100%;
    line-height: 7vw;
}
section>p{
    margin-left: 6vw;
}
#img1{
    background-image: url(imagens/background001.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-position: right bottom;
}
.imgcolor>p{
    color: white;
    display: block;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.596);
}
.imgcolor{
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
}
#img2{
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-attachment: fixed;
}
footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: black;
    color: white;
    text-align: center;
}
footer a{
    font-weight: bold;
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}