@charset "UTF-8";
@media screen and (min-width:550px) and (max-width:800px){
    header{
        background-color: rgb(167, 166, 166);
    }
    #icon{
        display: none;
    }
    menu{
        position: relative;
        display: block;
    }
    menu>ul>li{
        display: inline-block;
    }
    menu>ul{
        position: relative;
    }
}
@media screen and (min-width:801px) {
    header{
        background-color: blue;
    }
    #icon{
        display: none;
    }
    menu{
        position: relative;
        display: block;
    }
    menu>ul>li{
        display: inline-block;
        border: 2px solid balck;
    }
    menu>ul{
        position: relative;
    }
    menu>ul>li>a{
        border: none;
    }
    
}