*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(226, 225, 225);
    font-family: Arial, Helvetica, sans-serif;

}
header{
    background-color: rgb(167, 166, 166);
}
header h1{
    text-align: center;
    padding: 20px;
    z-index: 1;
}

article h2{
    padding: 10px;
    }

article p{
    text-indent: 2em;
    padding: 10px 20px;
    text-align: justify;
}
main{
    width: 90%;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
   
    max-width: 1000px;
    
}
menu{
    display: none;

}
menu>ul{
    position: absolute;
    list-style-type: none;
    width: 100vw;
}
menu>ul>li>a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(54, 54, 54);
    color: white;
    text-align: center;
    border-top: 2px solid gray;
}
#menu{
    display: block;
    text-align: center;
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 0;
}
#menu:hover{
    background-color: white;
    color: black;
}
main{
    position: relative;
    display: block;
    z-index: -1;
}
span{
    display: none;
}