@charset "UTF-8";
@media screen and (min-width:550px) and (max-width:1000px){
    body{
        background-image: linear-gradient(to top, #4faaa5, #5d2b81);
        background-size: cover;
        height: 100vh;
    }
    section{
        position: relative;
        max-width: 800px;
        height: 250px;
    }
    .principals{
        display: inline;
        position: static;
    }
    #img{
        width: 30%;
        height: 100%;
        float: left;
    }
    #login{
        width: 70%;
        float: right;
    }
    
}
@media screen and (min-width:1001px) {
    body{
        background-image: linear-gradient(to top, #4faaa5, #5d2b81);
        background-size: cover;
        height: 100vh;
    }
    section{
        max-width: 1200px;
        position: relative;
        height: 250px;
    }
    .principals{
        display: inline;
        position: static;
    }
    
    #img{
        width: 50%;
        height: 100%;
        float: right;
        transition: width 1s;
    }
    #login{
        width: 50%;
        float: left;
        transition: width 1s;

    }
    
}